.forms-library {
    table {
        border-collapse: collapse;
        width: 80%;
        border: 6px solid rgba(255, 255, 255, 1);
        margin-left: auto; margin-right: auto;
        height: 362px;

        tr,
        td {
            border: 6px solid rgba(255, 255, 255, 1);
        
            strong span {
                color: rgba(255, 153, 0, 1);
            }
        }
    }
}